body{
    background-color: rgb(200,200,200);
}

.clear{
    clear: both;
}

#header{
    width: 100%;
    text-align: center;
    margin: 0;
    padding: 0;
    font-size: 1em;
}

#time{
    width: 100%;
    text-align: center;
    font-size: 2em;
    height: 2em;
    font-family: 'Offside', cursive;
    margin: 0;
    padding: 0;
}

#clock{
    width: 980px;
    margin-left: auto;
    margin-right: auto;
}
.second{
    float: left;
    width: 4px;
    height: 1px;
}

.minute{
    float: left;
    width: 24px;
    height: 10px;
    margin: 1px;
    background-color: rgb(170,170,170);
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    -khtml-border-radius: 2px;
    border-radius: 2px;
    overflow: hidden;
}

.hour{
    float: left;
    width: 156px;
    height: 120px;
    margin: 3px;
}

#info{
    width: 100%;
    text-align: center;
}

.title{
    float: left;
}

#footer{
    margin-top: 20px;
    text-align: center;
    width: 980px;
    margin-left: auto;
    margin-right: auto;
}

#footer p{
    text-indent: 2em;
}

.active{
    background-color: rgb(255,102, 255);
}

a{
    color: rgb(30,30,135);
    text-decoration: none;
}

a:hover{
    color: rgb(255,102, 255);
}